.status-message {
	border: 1px solid #c00;
	background: #fac7c7;
	padding: 10px;
}

.outer-wrapper {
	height: 1000px;
	display: none;
}

.outer-wrapper h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	color: #666;
	letter-spacing: 0.1em;
	padding: 0 0 2px 3px;
}

.outer-wrapper .wrapper p {
	font-size: 1.1em;
	line-height: 1.4em;
	padding: 10px 0 0;
	text-align: center;
	font-weight: normal;
	color: #666;
}


/* Main structural Divs
----------------------------------*/

/* BARCHART */
.outer-wrapper .count-chart {
    position: relative;
	height: 350px;
    width: 940px;
}

.outer-wrapper .wrapper {
	width: 275px;
	margin: 10px 0 10px;
	/*background: #ecf0f1;*/
}

.outer-wrapper .wrapper h2 {
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	text-align: center;
	color: #666;
	padding: 10px 0 5px;
}


/* COUNTRY */
.outer-wrapper .country-wrapper {
	width: 390px;
	height: 100px;
	float: left;
	clear: left;
}

.outer-wrapper form.country-select,
.outer-wrapper form.continent-select {
	float: left;
	margin: 5px 0 10px 65px;
}

.outer-wrapper form.country-select label,
.outer-wrapper form.continent-select label {
	float: left; 
	width: 120px; 
	margin: 0 10px 0 0;
	display: block;
	cursor: pointer; 
}

	/* FlatUI
	----------------------------------*/

	.outer-wrapper form.country-select .checkbox,
	.outer-wrapper form.continent-select .checkbox {
		margin-bottom: 6px;
		padding-left: 30px;
		position: relative;
		-webkit-transition: 0.25s;
		-moz-transition: 0.25s;
		-o-transition: 0.25s;
		transition: 0.25s;
		-webkit-backface-visibility: hidden; 
	}

	.outer-wrapper .checkbox:hover {
		color: #A0BEC5; 
	}

	.outer-wrapper .checkbox input[type="checkbox"] {
		outline: none !important;
		opacity: 0;
		filter: alpha(opacity=0);
		zoom: 1;
		float: left;
		margin-left: -40px;
	}

	.outer-wrapper .checkbox .icon {
		display: block;
		height: 20px;
		left: 0;
		opacity: 1;
		position: absolute;
		top: -3px;
		width: 20px;
		-webkit-transition: opacity 0.1s linear;
		-moz-transition: opacity 0.1s linear;
		-o-transition: opacity 0.1s linear;
		transition: opacity 0.1s linear;
		-webkit-backface-visibility: hidden; 
	}

	.outer-wrapper .checkbox.checked .icon .dots {
		fill: #A0BEC5;
	}

	.outer-wrapper .checkbox.checked .icon .dots.Australasia {
		fill: #1abc9c;
		opacity: 0.8;
	}

	.outer-wrapper .checkbox.checked .icon .dots.North_America {
		fill: #27ae60;
		opacity: 0.8;
	}

	.outer-wrapper .checkbox.checked .icon .dots.Asia {
		fill: #3498db;
		opacity: 0.8;
	}

	.outer-wrapper .checkbox.checked .icon .dots.Europe {
		fill: #5959b7;
		opacity: 0.8;
	}	

	.outer-wrapper .checkbox.checked .icon .dots.South_America {
		fill: #34495e;
		opacity: 0.8;
	}

	.outer-wrapper .checkbox .icon .dots {
		fill: #ecf0f1;
	}
		


/* FIELD */
.outer-wrapper .field-wrapper {
	float: left;
}

/* YEAR */
.outer-wrapper .year-wrapper {
	float: right;
}

.outer-wrapper select.select-year {
	display: none;
}

.outer-wrapper .year-wrapper .year-label {                     
	height:15px;
	margin:0px 0px 10px;
	display:block;
	position:relative;        
	text-decoration:none;
	border:0 none;
}

.outer-wrapper .year-wrapper .year {
	text-align: center;
	width: 52px;
	float: left;
	padding: 0 0 0 2px;
	font-weight: normal;
	font-size: 110%;
	color: #666;
}

.outer-wrapper .year-wrapper .year-slider {                     
	width:220px;
	margin: 0 0 0 24px;
}

.outer-wrapper .year-wrapper .ui-slider {
    position: relative;
    text-align: left;
    border:0 none;
}
.outer-wrapper .year-wrapper .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}
.outer-wrapper .year-wrapper .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.outer-wrapper .year-wrapper .ui-slider-horizontal {
	background: #ECF0F1;
    height: .8em;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-handle {
	background: #A0BEC5;
    top: -.2em;
    margin-left: -.6em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-range-min {
	background: #f1c40f;
    left: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}





/* JqueryUI
----------------------------------*/
.outer-wrapper .wrapper .ui-button {
	width: 200px;
	margin: 0 35px;
	display: inline-block;
	position: relative;
	padding: 2px;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
	-webkit-transition:all 0.2s ease;  
	-moz-transition:all 0.2s ease;  
	-o-transition:all 0.2s ease;  
	transition:all 0.2s ease;  
/*	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;*/
}

/*	This is the first button */
.outer-wrapper .wrapper .ui-corner-left {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

/*	This is the last button */
.outer-wrapper .wrapper .ui-corner-right {
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.outer-wrapper .wrapper .ui-button .ui-button-text {
	text-transform: uppercase;
	display: block;
	line-height: normal;
}

.outer-wrapper .wrapper .ui-button-text-only .ui-button-text {
	padding: 0.4em 1em;
}

.outer-wrapper .wrapper .ui-state-default {
	border: none;
	background: #ecf0f1;
	font-weight: normal;
	color: #666;
}

.outer-wrapper .wrapper .ui-buttonset  .ui-state-hover {
	background: #f1c40f;
}


.outer-wrapper .wrapper .ui-state-active {
	background: #A0BEC5;
	color: #ECF0F1;
}





/* Tooltip
----------------------------------*/
.outer-wrapper .count-chart .tooltip {
    position: absolute;
    padding: 10px;
    background-color: #666;
    pointer-events: none;
    opacity: 0;
    z-index: 100;
}

.outer-wrapper .count-chart .tooltip:before {
    content: "";
    position:absolute;
    bottom: -10px;
    left: 49%;
    border-right: 0;
    border-top: 10px solid #666;
    border-bottom: 0;
    border-left: 10px solid transparent;
}

.outer-wrapper .count-chart .tooltip.hidden {
    display: none;
}

.outer-wrapper .count-chart .tooltip p {
    margin: 0;
    color: #ECF0F1;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}   

/* SVG axes
----------------------------------*/
.outer-wrapper .axis path,
.outer-wrapper .axis line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
}

.outer-wrapper .axis text {
    font-family: sans-serif;
    fill: #666;
    font-size: 13px;
    shape-rendering: crispEdges;
}

.outer-wrapper .x.axis text {
    font-size: 13px;	
}

.outer-wrapper .count-chart rect {
	shape-rendering: crispEdges;
}
