.outer-wrapper {

	height: 1100px;
}

.outer-wrapper h1 {
	text-transform: uppercase;
	font-size: 1.1em;
	color: #555455;
	letter-spacing: 0.1em;
	padding: 0 0 2px 3px;
	border-bottom: 2px solid #ADAAAC;
}


/* Main structural Divs
----------------------------------*/

/* BARCHART */
.outer-wrapper .count-chart {
    position: relative;
	height: 400px;
    width: 940px;
}

.outer-wrapper .field-wrapper h2,
.outer-wrapper .year-wrapper h2,
.outer-wrapper .count-wrapper h2,
.outer-wrapper .scale-wrapper h2 {
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 0.1em;
	color: #555455;
	margin: 0 0 10px 0;
	padding: 0 0 2px 3px;
	border-bottom: 2px solid #ADAAAC;
}

.outer-wrapper .wrapper {
	width: 465px;
	margin: 10px 0 10px;
}

/* FIELD */
.outer-wrapper .field-wrapper {
	width: 465px;
	float: left;
}

/* YEAR */
.outer-wrapper .year-wrapper {
	float: right;
}

.outer-wrapper select.select-year {
	display: none;
}

.outer-wrapper .year-wrapper .year-label {                     
	height:15px;
	margin:20px 0 20px 8px;
	display:block;
	position:relative;
	cursor:pointer;        
	text-decoration:none;
	border:0 none;
}

.outer-wrapper .year-wrapper .year {
	width: 87px;
	height: 35px;
	float: left;
	border-left: 2px solid #ADAAAC;
	padding: 0 0 0 2px;
	font-weight: normal;
	font-size: 110%;
	color: #555455;
}

.outer-wrapper .year-wrapper .year-slider {                     
	width:366px;
	margin: 0 0 0 8px;
}

.outer-wrapper .year-wrapper .ui-slider {
    position: relative;
    text-align: left;
    border:0 none;
}
.outer-wrapper .year-wrapper .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
}
.outer-wrapper .year-wrapper .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.outer-wrapper .year-wrapper .ui-slider-horizontal {
	background: #E0DEDE;
    height: .8em;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-handle {
	background: #A0BEC5;
    top: -.3em;
    margin-left: -.6em;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-range-min {
	background: #FAF6E1;
    left: 0;
}
.outer-wrapper .year-wrapper .ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

/* COUNT */
.outer-wrapper .count-wrapper {
	float: right;
}

/* SCALE */
.outer-wrapper .scale-wrapper {
	width: 940px;
	clear: both;
}

/* JqueryUI
----------------------------------*/
.outer-wrapper .wrapper .ui-button {
	width: 465px;
	margin: 2px 0;
	display: inline-block;
	position: relative;
	padding: 2px;
	line-height: normal;
	cursor: pointer;
	vertical-align: middle;
	text-align: center;
	overflow: visible; /* removes extra width in IE */
	-webkit-transition:all 0.2s ease;  
	-moz-transition:all 0.2s ease;  
	-o-transition:all 0.2s ease;  
	transition:all 0.2s ease;  
}

.outer-wrapper .wrapper .ui-buttonset .ui-button {
	width: 224px;
}

.outer-wrapper .wrapper .ui-button .ui-button-text {
	text-transform: uppercase;
	display: block;
	line-height: normal;
}

.outer-wrapper .wrapper .ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}

.outer-wrapper .wrapper .ui-state-default {
	border: 1px solid #fff;
	background: #FAF6E1;
	font-weight: normal;
	color: #555455;
}

.outer-wrapper .wrapper .ui-buttonset  .ui-state-hover {
	background: #E0DEDE;
}

/* No hover state for adjust scale */
.outer-wrapper .wrapper .ui-state-hover {
	background: #FAF6E1;
}

.outer-wrapper .wrapper .ui-state-active {
	background: #A0BEC5;
}

.outer-wrapper .wrapper .ui-corner-all {
	border-radius: 0;
}

/* Tooltip
----------------------------------*/
.outer-wrapper .count-chart .tooltip {
    position: absolute;
    padding: 10px;
    background-color: #555455;
    pointer-events: none;
    opacity: 0;
}

.outer-wrapper .count-chart .tooltip:before {
    content: "";
    position:absolute;
    bottom: -10px;
    left: 49%;
    border-right: 0;
    border-top: 10px solid #555455;
    border-bottom: 0;
    border-left: 10px solid transparent;
}

.outer-wrapper .count-chart .tooltip.hidden {
    display: none;
}

.outer-wrapper .count-chart .tooltip p {
    margin: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}   

/* SVG axes
----------------------------------*/
.outer-wrapper .axis path,
.outer-wrapper .axis line {
    fill: none;
    stroke: #555455;
    shape-rendering: crispEdges;
}

.outer-wrapper .axis text {
    font-family: sans-serif;
    fill: #555455;
    font-size: 13px;
    shape-rendering: crispEdges;
}

.outer-wrapper .count-chart rect {
	shape-rendering: crispEdges;
}

